<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="icon" href="../img/iconenode.png">
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="/app.js"></script>
    <!-- <script src="sweetalert2.all.min.js"></script> -->
</head>
<body>
    <div id="centro">    
        <h1 id="titulodiv">Cadastro</h1>
        <form action="/cadastrar" method="POST">
            <p id="p1">Email </p> <input type="email" name="email" id="i_email" class="inputs" required><br>
            <p id="p2">Nome </p> <input type="text" name="nome" id="i_nome" class="inputs" required><br>
            <p id="p3">Senha </p> <input type="password" name="senha" id="i_senha" class="inputs" required><br>
            <button id="btn-cadastro"><b>Cadastrar</b></button>
        </form>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
		$("#i_cpf").mask("999.999.999-99");
		// $("#data").mask("99/99/9999");
		// $("#celular").mask("(99) 99999-9999");
	</script> -->
</body>
</html>