html{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, purple, red);
}

#centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px; 
    height: 400px;    
    border: none;
    background-color: rgba(255,255,255);
    box-shadow: 10px 5px 5px black;
    border-radius: 13px;
}

#titulodiv{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inputs{
    position: absolute;
    left: 90px;
    outline: 0;
    border-radius: 5px;
    height: 30px;
}

.img{
    width: 25px;
    height: 25px;
}

#p1{
    position: absolute;
    top: 83px;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#p2{
    position: absolute;
    top: 145px;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#p3{
    position: absolute;
    top: 205px;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#nome{
    top: 90px;
}

#cpf{
    top: 150px;
}

#bairro{
    top: 210px
}

button{
    position: absolute;
    left: 115px;
    bottom: 70px;
    background-color: #D53D3D;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    position: absolute;
    bottom: 30px;
    left: 105px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration: underline;
}